
<!--
<header class="header" id="header">
  <a href="#home">
    <img class="logo" id="header-img" src="https://cdn-icons-png.flaticon.com/512/7600/7600348.png" alt="company logo">
  </a>
  <nav class="nav-bar" id="nav-bar">
    <a class="nav-link" href="#home">home</a>
    <a class="nav-link" href="#about">about</a>
    <a class="nav-link" href="#products">products</a>
    <a class="nav-link" href="#contact">contact</a>
  </nav>
</header> -->

<section class="row home" id="home">
  <div class="content">
    <h1 style="line-height: normal;">PN Counterpart</h1>
    <p class="contentP">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga natus debitis iste hic ipsam dolore.</p>
    <a href="#" class="btn">Click here</a>
  </div>
  <div class="home-img">
    <img src="https://images.pexels.com/photos/11357544/pexels-photo-11357544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="champagne glass and bottle">
  </div>
</section>

<section class="about" id="about">
  <h1 class="heading">
    about us
  </h1>
  <div class="row about">
    <div class="row-video">
      <iframe id="video" width="100%" height="300px" src="https://www.youtube.com/embed/UpcHLAnQ2mo?controls=0&autoplay=1&loop=1&autopause=0&mute=1&playlist=UpcHLAnQ2mo">
      </iframe>
    </div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vitae. Iure voluptates fuga,
        perspiciatis sint corrupti minus sit eum exercitationem. Illum cumque voluptatem recusandae tempora
        sunt voluptate in qui quae?</p>
    </div>
  </div>
</section>

<section class="products" id="products">
  <h1 class="heading">
    products
  </h1>
  <div class="row-3">
    <div class="product">
      <img class="product-img" src="https://images.unsplash.com/photo-1474722883778-792e7990302f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=691&q=80" alt="glass of rose wine with grapes and leaves laying next to it">
      <div class="product-description">
        <h2>rosé wine</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

    <div class="product">
      <img class="product-img" src="https://images.unsplash.com/photo-1606767208159-1a5fb0a87841?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="white wine poured into the glass">
      <div class="product-description">
        <h2>white wine</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

    <div class="product">
      <img class="product-img" src="https://images.unsplash.com/photo-1608022757731-e7c2bc13819d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="glass of red wine with tangerines, cinnamon sticks and pine cones laying next to it">
      <div class="product-description">
        <h2>red wine</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</section>

<div class="container conbg" id="conbg">
  <div class="bg2" id="bg2">
    <div class="bg1" id="bg1">
      <div class="bg" id="bg">
        <div class="bg-text text-light ps-3">
          <h3>Passerelles<br />Numeriques</h3>
          <p>
            A Gateway for Life<br />
            Started its mission in 2009<br />
           until today
          </p>
          <a class="text-light" href="#bg1"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
              <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
            </svg></a>
        </div>
      </div>
      <div class="bg-text text-light ps-3">
        <h3>Passerelles<br />Numeriques</h3>
          <p>
            A Gateway for Life<br />
            Started its mission in 2009<br />
           until today
        </p>
        <a class="text-light" href="#bg2"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
            <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
          </svg></a>
      </div>
    </div>
    <div class="bg-text text-light ps-3">
      <h3>Passerelles<br />Numeriques</h3>
          <p>
            A Gateway for Life<br />
            Started its mission in 2009<br />
           until today  
      </p>
      <a class="text-light" href="#conbg"><svg viewBox="0 0 448 512" width="30" fill="#fff" title="angle-double-right">
          <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
        </svg></a>
    </div>
  </div>
</div>


