@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 235);
    font-family: 'Poppins', sans-serif;
}

p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.section-team {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;
}

.section-team .header-section {
	margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: linear-gradient(to right, #016cec, #00b5f7);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #016cec;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}




/* for about section */

.wrapper{
  margin: 50px auto;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0 40px 2px rgba(37,73,214,018);
}
.Headingtitle{
  font-size: 3.3rem;
  text-align: center;
  line-height: normal;
  font-style: initial;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(43, 43, 112);
}
.feature-box{
  padding: 20px;
}
.feature-box h1{
  margin-top: 20%;
  color: rgb(43, 43, 112);
}
.feature-box p{
  margin: 50px auto;
  color: #555;
}
.img-fluid1{
  width: 110%;
  padding: 80px;
  height: 110%;
}
.feature-img{
  width: 100%;
  padding: 60px;
  height: 80%;
}
.Heading{
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: rgb(43, 43, 112);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p-head{
  font-size:  30px;

  text-align: center;
  color: rgb(75, 61, 61);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pera{
  font-size: 1.1rem;
  color: rgb(75, 61, 61);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.course{
  background-color: rgb(225, 240, 246);
}
.btn-One{
  height: 45px;
  width: 35%;
  outline: none;
  border: none;
  background: red;
  color:white;
  border-radius: 60px;
  font-weight: bold;
  margin:auto;
  margin-left: 50px;
  margin-right: 25px;
}
.btn-One:hover{
  background: tomato;
  transition: 0.5s;
  border: 2px solid white;
}
.btn-Two{
  height: 45px;
  width: 35%;
  outline: none;
  border: 2px solid rgb(54, 149, 204) ;
  background: transparent;
  color: rgb(54, 149, 204);
  border-radius: 60px;
  font-weight: bold;
  margin: auto;

}
.btn-Two:hover{
  color: rgb(4, 4, 70);
  transition: 0.5s;
  border: 2px solid black;
}


/* for carousel section */

.Head{
  margin-bottom: 70px;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}
.carousel-item{
  height: 100vh;
  min-height: 300px;
}
.carousel-caption{
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5{
  font-size: 45px;
  text-decoration: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-item p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

@media only screen  and (min-width: 78px) and (max-width:991px){
  .carousel-caption{
    bottom: 370px;
  }
  .carousel-caption p{
   width: 100%;
  }
}

@media only screen  and (max-width: 767px){
  .carousel-caption{
    bottom: 125px;
  }
  .carousel-caption h5{
    font-size:  17px;
  }
  .carousel-caption a{
    padding: 10px 15px;
  }
  .carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
}

/* slider */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
